@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@1,500&display=swap");

.blog_details {
  .blog_details_main {
    margin-top: 120px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 68% 30%;
    justify-content: center;
    grid-gap: 30px;

    .blog_left {
      .blog_left_img {
        object-fit: cover;
        border-radius: 3px;
      }

      .author1 {
        display: flex;
        justify-content: center;

        p {
          margin-right: 20px;
          color: rgb(167, 161, 161);
        }
      }

      h2 {
        font-family: "Roboto", sans-serif;
      }

      p {
        margin-top: 35px;
        color: rgb(102, 100, 100);
        line-height: 24px;
      }

      .author2 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .author2_icon {
          color: #7b68ee;
          margin-right: 10px;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        .author2_icon:hover {
          transform: scale(1.3);
        }
      }

      .author3 {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-right: auto;
        margin-left: auto;

        p {
          display: flex;
          align-items: center;
          color: black;
          cursor: pointer;
        }

        .author3_icon1 {
          margin-right: 10px;
          transition: all 0.4s ease;
        }
        .author3_icon2 {
          margin-left: 10px;
          transition: all 0.4s ease;
        }

        p:first-child:hover .author3_icon1 {
          margin-left: -10px;
        }

        p:last-child:hover .author3_icon2 {
          margin-right: -10px;
        }
      }
    }

    .blog_right {
      .search {
        margin-top: 35px;
        width: 100%;
        display: flex;
        .inpp {
          padding: 15px 20px;
          font-size: 16px;
          position: relative;
          border: none;
          border-radius: 3px;
          width: 80%;
          z-index: 1;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }
        .subb {
          border-radius: 3px;
          padding: 10px;
          width: 15%;
          height: 50px;
          background-color: #7b68ee;
          z-index: 10;
          cursor: pointer;
        }
      }

      .pop_post {
        margin-top: 60px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blog_details {
    .blog_details_main {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .blog_details {
    .blog_details_main {
      .author1 {
        font-size: 13px;
      }
    }
  }
}
