@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@1,500&display=swap");

.blog {
  margin-bottom: 80px;
  .blog_header {
    width: 100%;

    .mySwiper {
      .blog_header_img {
        object-fit: cover;
      }
    }
  }

  .blog_main {
  }
}
